/* 快速导航菜单 */
#opciones{z-index: 7000;position: fixed;padding-bottom: 10px;padding-left: 10px;width: 80px;padding-right: 10px;font: 12px/140% arial, helvetica, sans-serif;background: #e7e7e7;color: #999;top: 0px;right: 0px;padding-top: 10px}
#opciones h2{border-bottom: #fff 1px solid;padding-bottom: 3px;margin: 0px 0px 3px;padding-left: 0px;padding-right: 0px;color: #666;font-size: 16px;padding-top: 0px}
#opciones h3{padding-bottom: 0px;text-indent: 0px;margin: 3px 0px;padding-left: 0px;padding-right: 0px;height: 15px;color: #666666;padding-top: 0px}
#opciones p{font-size: 12px}
#opciones a{color: #999;text-decoration: none}
#opciones a: hover{background: #666666;color: #fff}
#settings{z-index: 8000;position: fixed;text-indent: -99999px;width: 43px;display: block;background: url(../../../images/my/opciones.gif) no-repeat 0px 0px;height: 43px;top: 0px;cursor: pointer;right: 0px}
#settings: hover{background: url(../../../images/my/opciones.gif) no-repeat 0px -43px}
.cerrar{background: url(../../../images/my/opciones.gif) no-repeat 0px -43px}

/* 便捷入口 */
.pmenu{position:fixed;z-index:2008;bottom:8%;left:5%;}
#navigationMenu li{list-style:none;height:39px;padding:2px;width:40px;}
#navigationMenu span{/* Container properties */width:0;left:38px;padding:0;position:absolute;overflow:hidden;/* Text properties */font-family:'宋体',Arial, Helvetica, sans-serif;font-size:18px;font-weight:bold;letter-spacing:0.6px;white-space:nowrap;line-height:39px;/* CSS3 Transition: */-webkit-transition: 0.25s;/* Future proofing (these do not work yet): */-moz-transition: 0.25s;transition: 0.25s;}
#navigationMenu a{background:url('../../../images/my/navigation.jpg') no-repeat;height:39px;width:38px;display:block;position:relative;}
/* General hover styles */
#navigationMenu a:hover span{width:auto; padding:0 20px;overflow:visible;}
#navigationMenu a:hover{text-decoration:none;/* CSS outer glow with the box-shadow property */-moz-box-shadow:0 0 5px #9ddff5;-webkit-box-shadow:0 0 5px #9ddff5;box-shadow:0 0 5px #9ddff5;}
/* Green Button */
#navigationMenu .home{background-position:0 0;}
#navigationMenu .home:hover{background-position:0 -39px;}
#navigationMenu .home span{background-color:#7da315;color:#3d4f0c;text-shadow:1px 1px 0 #99bf31;}
/* Blue Button */
#navigationMenu .about{background-position:-38px 0;}
#navigationMenu .about:hover{background-position:-38px -39px;}
#navigationMenu .about span{background-color:#1e8bb4;color:#223a44;text-shadow:1px 1px 0 #44a8d0;}
/* Orange Button */
#navigationMenu .services{background-position:-76px 0;}
#navigationMenu .services:hover{background-position:-76px -39px;}
#navigationMenu .services span{background-color:#c86c1f;color:#5a3517;text-shadow:1px 1px 0 #d28344;}
/* Yellow Button */
#navigationMenu .portfolio{background-position:-114px 0;}
#navigationMenu .portfolio:hover{background-position:-114px -39px;}
#navigationMenu .portfolio span{background-color:#d0a525;color:#604e18;text-shadow:1px 1px 0 #d8b54b;}
/* Purple Button */
#navigationMenu .contact{background-position:-152px 0;}
#navigationMenu .contact:hover{background-position:-152px -39px;}
#navigationMenu .contact span{background-color:#af1e83;color:#460f35;text-shadow:1px 1px 0 #d244a6;}
