    <div class="tc"><a href="#hd"><img src="{IMG_PATH}wap/top.gif" alt="" width="46" height="16" /></a></div>
    <div class="ft">
    	<a href="{WAP_SITEURL}">{$WAP['sitename']}</a>-<a href="{APP_PATH}index.php?m=wap&amp;c=index&amp;a=maps">导航</a>
    	</br>
		<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F9e02ff5a8553031db7b820a6be4fbf5f' type='text/javascript'%3E%3C/script%3E"));
		</script>
    </div>
</div>
</body>
</html>